[Unit]
Description=CoreOS DigitalOcean Network Agent
DefaultDependencies=false
Before=initrd.target
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/coreos-metadata --provider digitalocean --network-units=/run/systemd/network/ --hostname=/etc/hostname
